<div class="date-container">
  <label>
    <input [(ngModel)]="hour" class="hour" type="number" min="0" max="23" (change)="setDate()"/>
    <input [(ngModel)]="date" class="date" type="date" (change)="setDate()"/>
  </label>
</div>
<div class="rates-container">
  <div class="list-block">Buy
    <ul>
      <li *ngFor="let rate of rate.purchaseRates">
        {{rate.name}} <span>{{rate.amount | number: '0.9'}}</span>
      </li>
    </ul>
  </div>
  <div class="list-block">Sell
    <ul>
      <li *ngFor="let rate of rate.saleRates">
        {{rate.name}} <span>{{rate.amount | number: '0.9'}}</span>
      </li>
    </ul>
  </div>
</div>
