.head {
  background: #23272a;
}

a {
  border: 3px solid #fff;
  border-radius: 30px;
  color: #fff;
  font: 900 14px proxima-nova, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 20px;
  cursor: pointer;
  margin: 50px 2%;
  display: inline-block;
}

nav {
  text-align: center;
}
